{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Grad School HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
      <link href="{% static 'assets/css/fontawesome.css' %}" rel="stylesheet">
      <link href="{% static 'assets/css/templatemo-grad-school.css' %}" rel="stylesheet">
      <link href="{% static 'assets/css/owl.css' %}" rel="stylesheet">
      <link href="{% static 'assets/css/lightbox.css' %}" rel="stylesheet">


<!--

TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>
{% include 'nav.html' %}
<body>



  <!-- ***** Main Banner Area Start ***** -->


