{% load static %}

<!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em> Store</em></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <ul class="navbar-nav  ">
                <li class="nav-item active">
        <li class="nav-link"><a href="{% url 'lodapp:home' %}">Home</a></li>

          {%if user.is_authenticated %}

        <li><p style="color: red;">Hello {{user.username}}</p></li>
         <li> <a href="{% url 'lodapp:registration_form' %}">Registerationform</a></li>
        <li class="nav-item ">
        <li><a class="nav-link" href="/logout">logout</a></li>
          {%else%}

        <li class="nav-item ">
          <li><a class="nav-link" href= "/register">register</a></li>

          <li class="nav-item ">
          <li><a class="nav-link"href="/login">login</a></li>
          {%endif%}

         <li class="has-submenu"><a href="#section2">Department</a>
          <ul class="sub-menu">
            <li><a href="https://en.wikipedia.org/wiki/Computer_science">ComputerScience</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Commerce">Commerce</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Information_technology">InformationTechno</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Biology">BiologyScience</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Humanities">Humanities</a></li>


          </ul>
        </li>
      </ul>
      </ul>
    </nav>
  </header>











